.icon-grid {
    padding: 80px 0 100px;
  }
  
  .icon-grid__title {
    font-family: $primary-family;
    font-weight: 600;
    @include fsz(48px);
    color: $primary-text;
  margin-bottom: 16px;
  }
  
  .icon-grid__rows {
    max-width: $container;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    gap: 30px;
   
    
  }
  
  .icon-grid__content {
    max-width: 300px;
    width: 100%;
    padding: 20px 30px;
    background: $white;
    border: 1px solid rgba(27, 35, 52, 0.1);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-left: 2px solid $primary-alt;
    font-family: $primary;
    font-weight: 400;
    @include fsz(15px);
    line-height: 1.29;
    color: $primary-text;
    @media #{$phone} {
      max-width: 100%;
     }
  
    svg {
      width: 40px;
      height: 30px;
      fill: $primary-alt;
      margin-bottom: 15px;
    }
    .icon-grid__subtitle {
      font-family: $primary-family;
      font-weight: 600;
      @include fsz(20px);
      line-height: 1.41;
      color: $primary-text;
    }
  }
  
  .icon-grid__content--padding {
    padding-bottom: 44px;
  }